@import "../config";

#about {
  scroll-margin-top: $nav-height;
  min-height: calc(100vh - $nav-height);
  background-color: $main-color;
  * {
    margin: 10px 0;
  }
  .about-photo {
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
  }
  .download-cv {
    border-color: $secondary-color;
  }
  a {
    margin: 0 auto;
  }
}
