@import "../config";

#about {
  scroll-margin-top: $nav-height;
  height: calc(100vh - $nav-height);
  background-color: $main-color;
  .about-me {
    margin: 0.5rem 0;
  }
  .about-photo {
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
  }
}
